*.zip
**/Bots/**/*.jar
Eclipse/.metadata
Eclipse/.recommenders
**/Bots/**/*.class
*.pyc
Eclipse/CTZ-AI/Cyber Team Zero/Manual/**
Eclipse/CTZ-AI/src/**/*.class
Eclipse/CTZ-AI/bin/*.class
*.nac
**/_lastconfig.json
**/PythonClientAPI